[Build Check]

## Check if is dev build.
# Setting type: Boolean
# Default value: false
is_dev = false

## Check if is beta build.
# Setting type: Boolean
# Default value: false
is_beta = false

## Check if is alpha build.
# Setting type: Boolean
# Default value: false
is_alpha = false

[Debugging]

## Disable Credits 'Press any key will go back' Function
# Setting type: Boolean
# Default value: false
disable_credits = false

[Version Number]

## Version number that displays in game.
# Setting type: String
# Default value: Dev Build
version = ver_replace_001

